parameters:
    level: 8

    paths:
        - config
        - src
        - tests

    bootstrapFiles:
        - tests/bootstrap.php

    checkGenericClassInNonGenericObjectType: false
    checkMissingIterableValueType: false
    treatPhpDocTypesAsCertain: false

    excludes_analyse:
        -  tests/test_app/

    ignoreErrors:
        - '#^Left side of \|\| is always (true|false)\.$#'
        - '#^Parameter \#1 \$function of function call_user_func_array expects callable\(\)#'

        -
            message: '#expects array, [\w\|]+ given\.$#'
            count: 2
            path: src

        -
            message: '#^Access to an undefined property Thumber\\Cake\\View\\Helper\\ThumbHelper::\$Html\.$#'
            path: src/View/Helper/ThumbHelper.php

        -
            message: '#does not accept PHPUnit\\Framework\\MockObject\\MockObject\.$#'
            path: tests/TestCase

        -
            message: '#has no return typehint specified\.$#'
            path: tests/TestCase

        -
            message: '#^Access to an undefined property#'
            path: tests/TestCase

        -
            message: '#^Cannot call method header\(\) on Cake\\Http\\Response\|null\.$#'
            path: tests/TestCase/Controller/ThumbsControllerTest.php
