<?xml version="1.0" encoding="UTF-8"?>
<phpunit
	colors="true"
	processIsolation="false"
	stopOnFailure="false"
	bootstrap="./tests/bootstrap.php"
	>

	<testsuites>
		<testsuite name="cakephp-thumber Test Cases">
			<directory>./tests/TestCase</directory>
		</testsuite>
        
        <testsuite name="cakephp3.4">
			<directory>./tests/TestCase</directory>
            <exclude>./tests/TestCase/Shell/ThumberShellTest.php</exclude>
        </testsuite>
	</testsuites>
    
	<!-- configure code coverage -->
	<filter>
		<whitelist>
			<directory suffix=".php">./src/</directory>
		</whitelist>
	</filter>
</phpunit>
